<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :middle_names %><br />
    <%= f.text_field :middle_names %>
  </p>
  <p>
    <%= f.label :house_name %><br />
    <%= f.text_field :house_name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  </p>
  <p>
    <%= f.label :death_date %><br />
    <%= f.date_select :death_date %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>