<div id="person-header">
  <img src="#" alt="portrait">

  <div id="person-actions">
    <%= link_to 'Edit', edit_person_path(@person) %>
  </div>

  <h2><%=h @person.full_name %></h2>
  <p class="date-range">(<%=h @person.birth_date %> - <%h @person.death_date %>)</p>

  <% if @person.father_id then father = Person.find(@person.father_id) %>
  <p class="father">Father: <%= link_to father.full_name, father %></p>
  <% end %>

  <% if @person.mother_id then mother = Person.find(@person.mother_id) %>
  <p class="mother">Mother: <%= link_to mother.full_name, mother %></p>
  <% end %>
  
  <div class="clear"></div>
</div>

<div id="person-content">
  <%=h @person.description %>
</div>

